.myLogo{
    border-radius: 4rem;
    height: 20vh;

}
.jumbotron{
    min-height: 40vh;
    text-align: center;
    background-image: url(https://picsum.photos/id/434/1600/550);
}

// can put this inside the above jumbotron with sass later
.jumbotron img{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.mainrow{
    background-color: hsl(240, 100%, 85%);
    border: 2px solid hsl(240, 100%, 50%);
    padding: 1rem;
    margin-bottom: 0.5rem;
    height: auto;
}
.subrow{
    background-color: hsl(240, 100%, 95%);
    border: 2px solid hsl(240, 100%, 70%);
    margin-bottom: 0.5rem;
    padding: 1rem;
}
.techlogo{
    height: 8rem;
    width: auto;
    float: left;
    padding: 1rem 1rem 1rem;
}

.techgroup{
    margin-bottom: 2rem;
}
.jumbotext{
    color: white;
    font-weight: 400;
    text-shadow: 2px 3px 2px hsl(0, 0%, 30%);
}
.desc{
    font-size:1.25rem;
}

.navbar-expand-sm .navbar-nav .nav-link{
    padding-right: 5rem;
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 2px solid black;
}

.footer p{
    padding:1rem;
    margin: 0rem;
    text-align: right;
}

.card{
    margin-bottom: 1rem;

}

.card-img-bottom{
    width: 100%;
}
.javapic{
    height: 15rem;
}
.contactform{
    margin:2rem;
}
.form-group{
    padding:0.5rem;
}
.radio-container{
    margin: 2rem 0rem;
}
.contact-container{
    width: 60%;
    min-width: 500px;
}
.label{
    font-weight:700;
}