// color variables

$grey: hsl(0, 0%, 66%);
$lightgreen: hsl(80, 17%, 58%);
$black: hsl(203, 24%, 7%);
$green: hsl(120, 100%, 25%);
$white: hsl(0, 0%, 100%);

// Styles common to all pages
.myLogo{
    border-radius: 50%;
    height: 20vh;

}
.jumbotron{
    min-height: 40vh;
    max-height: 76vh;
    text-align: center;
    img{
        display:block;
        margin-left:auto;
        margin-right:auto;
    }
}
.jumbotext{
    color: $white;
    font-weight: 400;
    text-shadow: 2px 3px 2px darken($grey, 30%);
    padding-top: 1rem;
}
.fadein{
    animation: fadein .8s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.desc{
    font-size:1.25rem;
}
.footer{
    background-color: $green;
    p{
        padding:1rem;
        margin: 0rem;
        text-align: right;
    }
}
//Styles for Nav Bar
.navbar{
    background-color: $green;
    opacity: 95%;
}
.navbar-brand{
    border-left: 2px solid $black;
    border-bottom: 2px solid $black;
    padding-right: 1rem;
    padding-left: 1rem;
}
.navbar-expand-sm .navbar-nav .nav-link{
    padding-right: 3rem;
    margin-left: 0rem;
    margin-right:1rem;
    padding-left: 1rem;
    border-left: 2px solid $black;
    border-bottom: 2px solid $black;
}
.nav-link:hover, .navbar-brand:hover{
    background-color: lighten($green, 5%);
}

$pages: home, portfolio, contact;

@each $pg in $pages{
	body.#{$pg} li.#{$pg}.nav-item a{
        color: hsla(0, 0%, 100%,1.0);
    }
}

// Styles for main page
.mainrow{
    background-color: lighten($green, 62%);
    border: 2px solid $green;
    padding: 1rem;
    margin-bottom: 0.5rem;
    height: auto;
}
.subrow{
    background-color: lighten($green, 70%);
    border: 2px solid $green;
    margin-bottom: 0.5rem;
    padding: 1rem;
}
.techlogo{
    height: 8rem;
    width: auto;
    float: left;
    padding: 1rem 1rem 1rem;
}
.techgroup{
    margin-bottom: 2rem;
}


// Styles for portfolio page
.card{
    margin-bottom: 1rem;
}
.card-img-bottom{
    width: 100%;
}
.javapic{
    height: 15rem;
}
.github{
    height: 10rem;
}
.card:hover{
    box-shadow: 2px 2px 20px $black;
}

//Style for contact page
.contactform{
    margin:2rem;
}
.form-group{
    padding:0.5rem;
}
.radio-container{
    margin: 2rem 0rem;
}
.label{
    font-weight:700;
}
.contact-container{
    width: 60%;
    min-width: 500px;
}
.btn{
    background-color: lighten($green, 10%);
}

@media(max-width: 545px){
    .mainrow, .subrow{
        max-height: 27rem;
    }
    .techlogo{
        height: 6rem;
        width: auto;
        float: right;
    }
    .display-1{
        font-size: 4rem;
    }
    .display-4{
        font-size: 3rem;
    }

}
@media(max-width: 580px){
    .display-1{
        display: none;
    }
    .myLogo{
        margin-top: 2.5rem;
    }
    .display-4{
        margin-top:1rem;
    }
    .contact-container{
        width: 100%;
        min-width: 320px;
    }
}